// ===== Font Custom ===== //
@font-face {
  font-family: "museo light";
  src: url("../assets/fonts/museo/museo-300-webfont.eot"),
    url("../assets/fonts/museo/museo-300-webfont.woff") format("woff"),
    url("../assets/fonts/museo/museo-500-webfont.ttf") format("truetype"),
    url("../assets/fonts/museo/museo-700-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Regular";
  src: url("../assets/fonts/montserrat/montserrat-regular-webfont.eot"),
    url("../assets/fonts/montserrat/montserrat-regular-webfont.woff")
      format("woff"),
    url("../assets/fonts/montserrat/montserrat-regular-webfont.ttf")
      format("truetype"),
    url("../assets/fonts/montserrat/montserrat-regular-webfont.svg")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("../assets/fonts/montserrat/montserrat-bold-webfont.eot"),
    url("../assets/fonts/montserrat/montserrat-bold-webfont.woff")
      format("woff"),
    url("../assets/fonts/montserrat/montserrat-bold-webfont.ttf")
      format("truetype"),
    url("../assets/fonts/montserrat/montserrat-bold-webfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Light";
  src: url("../assets/fonts/montserrat/Montserrat-Light.eot"),
    url("../assets/fonts/montserrat/Montserrat-Light.woff") format("woff"),
    url("../assets/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Medium";
  src: url("../assets/fonts/montserrat/Montserrat-Medium.eot"),
    url("../assets/fonts/montserrat/Montserrat-Light.woff") format("woff"),
    url("../assets/fonts/montserrat/Montserrat-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Thin";
  src: url("../assets/fonts/montserrat/Montserrat-Thin.eot"),
    url("../assets/fonts/montserrat/Montserrat-Thin.woff") format("woff"),
    url("../assets/fonts/montserrat/Montserrat-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat Light Italic";
  src: url("../assets/fonts/montserrat/Montserrat-LightItalic.eot"),
    url("../assets/fonts/montserrat/Montserrat-LightItalic.woff") format("woff"),
    url("../assets/fonts/montserrat/Montserrat-LightItalic.ttf")
      format("truetype");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
// ===== End Font Custom ===== //

html,
body,
div {
  font-family: "Montserrat Regular", sans-serif;
}

input:focus,
select:focus,
textarea:focus,
button:focus,
a:focus {
  outline: 0 !important;
  box-shadow: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none !important;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.radius-0 {
  border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
}

// ======= Font Style ======= //
.fs-10 {
  font-size: 10px !important;
}

.fs-12 {
  font-size: 12px !important;
}

.fs-14 {
  font-size: 14px !important;
}

.fs-16 {
  font-size: 16px !important;
}

.poppins {
  font-family: "Poppins", sans-serif !important;
}

.museo {
  font-family: "museo light", sans-serif !important;
}

.mont-regular {
  font-family: "Montserrat Regular", sans-serif !important;
}

.mont-bold {
  font-family: "Montserrat Bold", sans-serif !important;
}

.mont-light {
  font-family: "Montserrat Light", sans-serif !important;
}

.mont-medium {
  font-family: "Montserrat Medium", sans-serif !important;
}

.mont-thin {
  font-family: "Montserrat Thin", sans-serif !important;
}

.mont-lt {
  font-family: "Montserrat Light Italic", sans-serif !important;
}

.open-sans {
  font-family: "Open Sans", sans-serif !important;
}

// ======= End Font Style ======= //

@keyframes float {
  0% {
    transform: translate(-5%, -2%);
    -webkit-transform: translate(-5%, -2%);
    -moz-transform: translate(-5%, -2%);
    -ms-transform: translate(-5%, -2%);
    -o-transform: translate(-5%, -2%);
  }

  50% {
    transform: translate(-5%, -32%);
    -webkit-transform: translate(-5%, -32%);
    -moz-transform: translate(-5%, -32%);
    -ms-transform: translate(-5%, -32%);
    -o-transform: translate(-5%, -32%);
  }

  100% {
    transform: translate(-5%, -2%);
    -webkit-transform: translate(-5%, -2%);
    -moz-transform: translate(-5%, -2%);
    -ms-transform: translate(-5%, -2%);
    -o-transform: translate(-5%, -2%);
  }
}

.btn-green {
  color: #fff !important;
  background: #03ac0e !important;
  border: 1px solid #03ac0e !important;
}

.navbar {
  padding: 0;

  .container {
    padding: 1.25rem 0;

    @media (max-width: 576px) {
      padding: 1.5rem 1rem;
    }

    /* ANIMATED X */
    .navbar-toggler.x {
      border: none;
      padding: 0;

      &:focus {
        outline: none;
      }

      &[aria-expanded="true"] {
        .icon-bar {
          &:nth-of-type(1) {
            -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            transform: rotate(45deg);
            -webkit-transform-origin: 10% 10%;
            -ms-transform-origin: 10% 10%;
            transform-origin: 10% 10%;
          }
          &:nth-of-type(2) {
            opacity: 0;
            filter: alpha(opacity=0);
          }
          &:nth-of-type(3) {
            -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
            -webkit-transform-origin: 10% 90%;
            -ms-transform-origin: 10% 90%;
            transform-origin: 10% 90%;
          }
        }
      }

      .icon-bar {
        width: 26px;
        display: block;
        height: 3px;
        background-color: #03ac0e;
        -webkit-transition: all 0.2s;
        transition: all 0.2s;

        & + .icon-bar {
          margin-top: 4px;
        }

        &:nth-of-type(1) {
          -webkit-transform: rotate(0);
          -ms-transform: rotate(0);
          transform: rotate(0);
        }

        &:nth-of-type(2) {
          opacity: 1;
          filter: alpha(opacity=100);
        }

        &:nth-of-type(3) {
          -webkit-transform: rotate(0);
          -ms-transform: rotate(0);
          transform: rotate(0);
        }
      }
    }

    a.navbar-brand {
      color: #03ac0e !important;
      font-weight: 600;
      line-height: 20px;
      letter-spacing: 1px;

      @media (max-width: 320px) {
        font-size: 1.1rem;
      }
    }

    .navbar-collapse {
      ul.navbar-nav {
        @media (max-width: 576px) {
          margin-top: 1rem;
        }

        li.nav-item {
          font-family: "open sans", sans-serif;

          a.nav-link {
            color: #848484;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.5px;
            padding: 0.5rem 1.25rem;

            @media (max-width: 576px) {
              padding: 0.5rem 0;
            }

            @media (max-width: 320px) {
              font-size: 14px;
            }
          }

          a.nav-link.active {
            color: #03ac0e;
            font-weight: bold;
          }

          .btn-green {
            color: #fff;
            background: #03ac0e;
            border: 1px solid #03ac0e;

            @media (max-width: 576px) {
              margin: 0.75rem 0 0.5rem;
            }
          }
        }
      }
    }
  }
}

// ======= Pages Home ======= //
body#homePage {
  .jumbotron.banner {
    height: auto;
    margin: 2rem 0 0;
    padding: 2rem 0;

    @media (max-width: 768px) {
      padding: 0 2rem;
      margin-bottom: 0;
      height: 85vh;
    }

    .container-fluid {
      padding: 1rem 0 0;

      @media (max-width: 768px) {
        padding: 2rem 0 0;
      }

      .text-banner {
        color: #fff;
        text-align: left;
        display: flex;
        flex-direction: column;
        padding-top: 0;
        padding-right: 0;
        padding-left: 0;

        @media (max-width: 768px) {
          padding-top: 0;
          padding-right: 0;
          padding-left: 0;
        }

        .swiper {
          width: 100%;
          height: 75vh;
          margin-left: auto;
          margin-right: auto;
          color: #707070;

          @media (max-width: 768px) {
            height: 50%;
          }

          .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            padding: 4rem 6.5rem;
            flex-direction: column;

            img.cover {
              position: absolute;
              left: 0;
              top: 0;
              z-index: 0;
              width: 100%;
              height: auto;
            }

            .desc-banner {
              font-family: "Poppins", sans-serif;
              z-index: 1;

              .text-head {
                font-family: "Poppins", sans-serif;
                width: 100%;
                margin-bottom: 0.75rem;
                font-size: 3.5rem;
                font-weight: bold;
                color: #fff;
                text-align: left;
              }

              .text-desc {
                font-family: "Poppins", sans-serif;
                width: 45%;
                margin-bottom: 1.25rem;
                font-size: 1.25rem;
                font-weight: 400;
                line-height: 2rem;
                color: #f0f0f0;
                text-align: left;
                opacity: 0.8;
              }
              .box-button {
                text-align: left;

                .btn-green {
                  font-family: "Poppins", sans-serif;
                  font-weight: 300;
                  border-radius: 4px;
                  padding: 0.5rem 1rem;
                  -webkit-border-radius: 4px;
                  -moz-border-radius: 4px;
                  -ms-border-radius: 4px;
                  -o-border-radius: 4px;
                }
              }
            }

            .swiper {
              margin-left: auto;
              margin-right: auto;
            }
          }

          .swiper-pagination {
            bottom: 150px;

            .swiper-pagination-bullet {
              width: 60px;
              height: 5px;
              border-radius: 0;
              display: inline-block;
              background: #707070;
              opacity: 0.75;
            }

            .swiper-pagination-bullet-active {
              background: #fff;
              opacity: 1;
            }
          }
        }
      }

      .form-banner {
        background: transparent;
        border: 0;
        padding: 0 6.5rem;
        position: relative;
        margin: -8.5em 0rem 0;
        z-index: 1;

        .text-form-top {
          background: #f7fff7;
          color: #042306;
          padding: 1.25rem 2rem;

          .head-text {
            font-size: 1rem;
            line-height: 24px;
            margin: 0;
          }
        }

        .form-inline {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: start;
          background: #fff;
          padding: 1rem 2rem 2rem;
          border-radius: 0 0 4px 4px;

          .form-group {
            margin-bottom: 1.25rem;
            padding-right: 1rem;

            label {
              color: #262626;
              font-weight: 400;
              font-size: 14px;
              line-height: 22px;
            }

            .form-control,
            .form-select {
              width: 100%;
              height: auto;
              color: #262626;
              padding: 0.5rem 1rem;
              font-size: 1rem;
              border: 1px solid #d9d9d9;
              border-radius: 4px;

              @media (min-width: 768px) {
                padding: 0.5rem 1.25rem;
                font-size: 1rem;
              }
            }
          }

          .btn-green {
            padding: 8px 20px;
          }
        }
      }
    }
  }

  section.section-one {
    position: relative;
    color: #707070;
    margin: 0;

    h1.title-head {
      font-size: 1.5rem;
      margin: 0 0 2rem;

      @media (min-width: 768px) {
        font-size: 2.5rem;
        margin: 2rem 0;
      }
    }

    .box-section {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 1rem 0 4rem;
      border-bottom: 1px solid #d9d9d9;

      .item-gs {
        padding: 0 1.25rem;

        .box-iconic {
          p.head-text {
            color: #042306;
            font-weight: bold;
            font-size: 1.25rem;
            padding: 0.75rem 0 1rem;
            margin: 0;
          }
        }
      }
    }
  }

  section.section-two {
    position: relative;

    img.baloon {
      position: absolute;
      left: 0;
      top: -12%;
      width: auto;
    }

    p.title-head {
      font-size: 1.85rem;
      margin: 2rem 0;
    }

    .box-section {
      background: #f8f8f8;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 3rem 4rem 1.5rem;
      border-radius: 4px;

      .item-gs {
        padding: 0 1.5rem;

        .box-iconic {
          margin-bottom: 4rem;

          p.head-text {
            color: #042306;
            font-weight: bold;
            font-size: 1.1rem;
            padding: 0.75rem 0 0.5rem;
            margin: 0;
          }

          p.desc {
            font-size: 14px;
            font-weight: 300;
            line-height: 26px;
            width: 80%;
            margin: 0 auto;
          }
        }
      }
    }
  }

  section.section-three {
    position: relative;

    img.baloon {
      position: absolute;
      right: 0;
      top: -2%;
      width: auto;
      z-index: 3;
    }

    p.title-head {
      font-size: 1.85rem;
      margin: 2rem 0;
    }

    .swiper {
      width: 100%;
      height: 75vh;
      margin-left: auto;
      margin-right: auto;
      color: #707070;

      @media (max-width: 768px) {
        height: 50%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        padding: 1rem 0.5rem;
        flex-direction: column;

        .card {
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04),
            0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
          border: none;

          img.quotes {
            width: 60px;
            height: auto;
            margin: 2rem auto 1.5rem;
          }

          .text-review {
            width: 70%;
            margin: 0 auto 2rem;
            color: #5e5e5e;
            font-size: 16px;
            font-weight: 200;
            line-height: 26px;
          }

          .card-body {
            position: relative;
            padding: 0 1rem 2rem;

            img.wave {
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              width: 100%;
              z-index: 0;
            }

            img.user {
              position: relative;
              z-index: 1;
            }

            .card-name {
              position: relative;
              color: #042306;
              font-size: 16px;
              font-weight: bold;
              line-height: 26px;
              margin: 0;
              z-index: 1;
            }

            .card-position {
              position: relative;
              color: #5e5e5e;
              font-size: 14px;
              font-weight: 200;
              line-height: 22px;
              width: 95%;
              margin: 0 auto 0.5rem;
              z-index: 1;
            }
          }
        }

        .swiper {
          margin-left: auto;
          margin-right: auto;
        }
      }

      .swiper-pagination {
        bottom: 40px;

        .swiper-pagination-bullet {
          width: 50px;
          height: 5px;
          border-radius: 0;
          display: inline-block;
          background: #03ac0e;
          opacity: 0.3;
        }

        .swiper-pagination-bullet-active {
          background: #03ac0e;
          opacity: 1;
        }
      }
    }
  }
}

// ======= End Pages Home ======= //

// ======= Page Products ======= //
body#productPage {
  .jumbotron.banner {
    height: auto;
    margin: 2rem 0 0;
    padding: 2rem 0;

    @media (max-width: 768px) {
      padding: 0 2rem;
      margin-bottom: 0;
      height: 85vh;
    }

    .container-fluid {
      padding: 1rem 0 0;

      @media (max-width: 768px) {
        padding: 2rem 0 0;
      }

      .text-banner {
        color: #fff;
        text-align: left;
        display: flex;
        flex-direction: column;
        padding-top: 0;
        padding-right: 0;
        padding-left: 0;

        @media (max-width: 768px) {
          padding-top: 0;
          padding-right: 0;
          padding-left: 0;
        }

        .swiper {
          width: 100%;
          height: 75vh;
          margin-left: auto;
          margin-right: auto;
          color: #707070;

          @media (max-width: 768px) {
            height: 50%;
          }

          .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            padding: 4rem 6.5rem;
            flex-direction: column;

            img.cover {
              position: absolute;
              left: 0;
              top: 0;
              z-index: 0;
              width: 100%;
              height: auto;
            }

            .desc-banner {
              font-family: "Poppins", sans-serif;
              z-index: 1;

              .text-head {
                font-family: "Poppins", sans-serif;
                width: 100%;
                margin-bottom: 0.75rem;
                font-size: 3.5rem;
                font-weight: bold;
                color: #fff;
                text-align: left;
              }

              .text-desc {
                font-family: "Poppins", sans-serif;
                width: 45%;
                margin-bottom: 1.25rem;
                font-size: 1.25rem;
                font-weight: 400;
                line-height: 2rem;
                color: #f0f0f0;
                text-align: left;
                opacity: 0.8;
              }
              .box-button {
                text-align: left;

                .btn-green {
                  font-family: "Poppins", sans-serif;
                  font-weight: 300;
                  border-radius: 4px;
                  padding: 0.5rem 1rem;
                  -webkit-border-radius: 4px;
                  -moz-border-radius: 4px;
                  -ms-border-radius: 4px;
                  -o-border-radius: 4px;
                }
              }
            }

            .swiper {
              margin-left: auto;
              margin-right: auto;
            }
          }

          .swiper-pagination {
            bottom: 150px;

            .swiper-pagination-bullet {
              width: 60px;
              height: 5px;
              border-radius: 0;
              display: inline-block;
              background: #707070;
              opacity: 0.75;
            }

            .swiper-pagination-bullet-active {
              background: #fff;
              opacity: 1;
            }
          }
        }
      }

      .form-banner {
        background: transparent;
        border: 0;
        padding: 0 6.5rem;
        position: relative;
        margin: -8.5em 0rem 0;
        z-index: 1;

        .text-form-top {
          background: #f7fff7;
          color: #042306;
          padding: 1.25rem 2rem;

          .head-text {
            font-size: 1rem;
            line-height: 24px;
            margin: 0;
          }
        }

        .form-inline {
          display: flex;
          flex-flow: row wrap;
          align-items: center;
          justify-content: start;
          background: #fff;
          padding: 1rem 2rem 2rem;
          border-radius: 0 0 4px 4px;

          .form-group {
            margin-bottom: 1.25rem;
            padding-right: 1rem;

            label {
              color: #262626;
              font-weight: 400;
              font-size: 14px;
              line-height: 22px;
            }

            .form-control,
            .form-select {
              width: 100%;
              height: auto;
              color: #262626;
              padding: 0.5rem 1rem;
              font-size: 1rem;
              border: 1px solid #d9d9d9;
              border-radius: 4px;

              @media (min-width: 768px) {
                padding: 0.5rem 1.25rem;
                font-size: 1rem;
              }
            }
          }

          .btn-green {
            padding: 8px 20px;
          }
        }
      }
    }
  }

  section.section-one {
    position: relative;
    color: #707070;
    margin: 0;

    p.title-head {
      color: #042306;
      font-size: 1.85rem;
      font-weight: 500;
      margin: 2rem 0;
    }

    .nav-pills {
      li.nav-item {
        margin: 0 1rem 2rem;
        .nav-link {
          background: #f9f9f9;
          color: #262626;
          padding: 0.5rem 1rem;
          border: 1px solid #d9d9d9;
          border-radius: 2px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          -ms-border-radius: 2px;
          -o-border-radius: 2px;
        }

        .nav-link.active {
          color: #fff;
          background-color: #03ac0e;
          border: 1px solid #03ac0e;
          border-radius: 2px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          -ms-border-radius: 2px;
          -o-border-radius: 2px;
        }
      }
    }

    .tab-content {
      .card {
        .card-body {
          .card-title {
            color: #042306;
            font-size: 1.25rem;
            font-weight: bold;
            margin: 0 0 1rem;
          }

          .card-text {
            color: #5e5e5e;
            font-size: 1rem;
            line-height: 26px;
            margin: 0 0 2.5rem;
          }

          .text-store {
            color: #042306;
            font-size: 14px;
            font-weight: 600;
            line-height: 24px;
            margin: 0 0 1rem;
          }

          .icon-store {
            display: flex;
            text-decoration: none;

            img.ic-store {
              margin: 0 1.5rem 0.5rem 0;
            }
          }
        }
      }
    }
  }

  section.section-two {
    position: relative;

    img.baloon {
      position: absolute;
      left: 0;
      top: -12%;
      width: auto;
    }

    p.title-head {
      color: #042306;
      font-size: 1.85rem;
      font-weight: bold;
      margin: 2rem 0;
    }

    .box-section {
      background: #f8f8f8;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 3rem 4rem 1.5rem;
      border-radius: 4px;

      .item-gs {
        padding: 0 1.5rem;

        .box-iconic {
          margin-bottom: 4rem;

          p.head-text {
            color: #042306;
            font-weight: bold;
            font-size: 1.1rem;
            padding: 0.75rem 0 0.5rem;
            margin: 0;
          }

          p.desc {
            font-size: 14px;
            font-weight: 300;
            line-height: 26px;
            width: 80%;
            margin: 0 auto;
          }
        }
      }
    }
  }

  section.section-three {
    position: relative;

    img.baloon {
      position: absolute;
      right: 0;
      top: -2%;
      width: auto;
      z-index: 3;
    }

    p.title-head {
      font-size: 1.85rem;
      margin: 2rem 0;
    }

    .swiper {
      width: 100%;
      height: 75vh;
      margin-left: auto;
      margin-right: auto;
      color: #707070;

      @media (max-width: 768px) {
        height: 50%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        display: flex;
        padding: 1rem 0.5rem;
        flex-direction: column;

        .card {
          box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04),
            0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
          border: none;

          img.quotes {
            width: 60px;
            height: auto;
            margin: 2rem auto 1.5rem;
          }

          .text-review {
            width: 70%;
            margin: 0 auto 2rem;
            color: #5e5e5e;
            font-size: 16px;
            font-weight: 200;
            line-height: 26px;
          }

          .card-body {
            position: relative;
            padding: 0 1rem 2rem;

            img.wave {
              position: absolute;
              bottom: 0;
              left: 0;
              right: 0;
              width: 100%;
              z-index: 0;
            }

            img.user {
              position: relative;
              z-index: 1;
            }

            .card-name {
              position: relative;
              color: #042306;
              font-size: 16px;
              font-weight: bold;
              line-height: 26px;
              margin: 0;
              z-index: 1;
            }

            .card-position {
              position: relative;
              color: #5e5e5e;
              font-size: 14px;
              font-weight: 200;
              line-height: 22px;
              width: 95%;
              margin: 0 auto 0.5rem;
              z-index: 1;
            }
          }
        }

        .swiper {
          margin-left: auto;
          margin-right: auto;
        }
      }

      .swiper-pagination {
        bottom: 40px;

        .swiper-pagination-bullet {
          width: 50px;
          height: 5px;
          border-radius: 0;
          display: inline-block;
          background: #03ac0e;
          opacity: 0.3;
        }

        .swiper-pagination-bullet-active {
          background: #03ac0e;
          opacity: 1;
        }
      }
    }
  }
}

// ======= End Page Products ======= //

// ======= Page About ======= //
body#acquisitionPage {
  .navbar-dark .navbar-brand.museo {
    color: #707070 !important;
  }

  section.banner-jumbo {
    position: relative;

    .container {
      padding: 0;
      height: calc(100vh - 56px);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      h1.title-banner {
        font-size: 2.5rem;
        margin-bottom: 1.5rem;
        text-align: center;

        @media (min-width: 375px) {
          font-size: 3rem;
        }

        @media (min-width: 768px) {
          font-size: 6rem;
        }
      }

      button.btn-secondary {
        background: transparent;
        color: #707070;
        border: 1px solid #707070;
        padding: 0.5rem 2rem;
      }
    }

    img.ics-arrow {
      width: 40px;
      position: absolute;
      bottom: 1.5rem;
      left: 45%;
      margin-right: -50%;
      transform: translate(-50%, 0);
      animation: float 1s ease-in-out infinite;

      @media (min-width: 768px) {
        left: 50%;
      }
    }
  }

  section.section-one {
    padding: 4rem 0 0;
    color: #707070;

    .box-item {
      margin-bottom: 3rem;
      text-align: center;

      @media (min-width: 768px) {
        text-align: left;
      }

      h5.title {
        font-size: 1.5rem;

        @media (min-width: 375px) {
          font-size: 2rem;
        }

        @media (min-width: 768px) {
          font-size: 2.25rem;
        }
      }

      p.text-desc {
        margin-bottom: 1.5rem;

        @media (min-width: 768px) {
          margin-bottom: 1.75rem;
        }
      }

      button.btn-secondary {
        background: transparent;
        color: #707070;
        border: 1px solid #707070;
        padding: 0.5rem 2rem;
      }
    }

    .box-item-left {
      margin-bottom: 1.25rem;
      text-align: center;

      @media (min-width: 768px) {
        text-align: left;
      }

      img.ics-ask {
        width: 50px;
        margin-bottom: 1rem;

        @media (min-width: 768px) {
          width: 60px;
        }
      }

      i.bi {
        font-size: 4.5rem;
        margin-bottom: 1rem;

        @media (min-width: 768px) {
          font-size: 4rem;
        }
      }

      p.text-desc {
        width: 100%;

        @media (min-width: 768px) {
          width: 80%;
        }
      }
    }
  }

  section.section-two {
    padding: 4rem 0 2rem;
    color: #707070;

    .item-cols {
      margin-bottom: 1rem;

      .box-img {
        h5.title {
          font-size: 1.5rem;
          margin-bottom: 0;
          text-align: center;

          @media (min-width: 375px) {
            font-size: 2rem;
          }

          @media (min-width: 768px) {
            font-size: 2.25rem;
            text-align: left;
          }
        }
      }
    }

    .testimonial {
      padding: 2rem 0;

      h1.title-testi {
        font-size: 1.5rem;

        @media (min-width: 375px) {
          font-size: 2rem;
        }

        @media (min-width: 768px) {
          font-size: 2.25rem;
        }
      }

      p.text-desc {
        width: 100%;
        margin: 1.5rem auto;
        font-size: 1rem;

        @media (min-width: 768px) {
          width: 85%;
          font-size: 1rem;
        }
      }

      button.btn-secondary {
        background: #bcbcbc;
        border-color: #bcbcbc;
        padding: 0.75rem 1.25rem;

        @media (min-width: 768px) {
          padding: 0.75rem 2.5rem;
        }
      }
    }
  }

  section.section-three {
    position: relative;
    padding: 2rem 0;

    @media (min-width: 768px) {
      padding: 4rem 0;
    }

    h1.title-head {
      color: #707070;
      font-size: 1.5rem;
      margin-bottom: 2rem;

      @media (min-width: 375px) {
        font-size: 2rem;
      }

      @media (min-width: 768px) {
        font-size: 2.5rem;
        margin-bottom: 2.5rem;
      }
    }

    .swiper {
      width: 100%;
      height: 50%;
      margin-left: auto;
      margin-right: auto;
      color: #707070;

      @media (min-width: 375px) {
        height: 35%;
      }

      @media (min-width: 768px) {
        height: 40%;
      }

      .swiper-slide {
        text-align: center;
        font-size: 18px;
        display: flex;
        padding: 0.5rem 2.5rem 0.5rem 4.25rem;
        flex-direction: column;

        @media (min-width: 768px) {
          padding: 2.5rem 7rem;
        }

        img.ic-quotes {
          position: absolute;
          width: 30px;
          left: -8%;
          top: -18%;

          @media (min-width: 768px) {
            width: 50px;
            left: -8%;
            top: -25%;
          }
        }

        .text-name {
          font-family: "Playfair Display", sans-serif;
          width: 100%;
          margin-bottom: 3rem;
          font-size: 0.75rem;
          color: #707070;
          text-align: left;

          @media (min-width: 768px) {
            margin-bottom: 2rem;
            font-size: 1.5rem;
          }
        }

        .name {
          position: absolute;
          bottom: 10%;
          right: 10%;
          font-size: 0.85rem;
          color: #707070;

          @media (min-width: 768px) {
            bottom: -25%;
            right: 5%;
            font-size: 1.25rem;
          }
        }

        .swiper {
          margin-left: auto;
          margin-right: auto;
        }
      }

      .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 100%;
        background: #fff;
        opacity: 1;
        border: 1px solid #707070;

        @media (min-width: 768px) {
          width: 12px;
          height: 12px;
        }
      }

      .swiper-pagination-bullet {
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 100%;
        background: #fff;
        opacity: 1;
        border: 1px solid #707070;

        @media (min-width: 768px) {
          width: 12px;
          height: 12px;
        }
      }

      .swiper-pagination-bullet-active {
        background: #707070;
      }

      .swiper-button-next,
      .swiper-button-prev {
        color: #707070;

        &:focus {
          outline: 0;
          box-shadow: none;
        }

        &:after {
          font-size: 2rem;

          @media (min-width: 768px) {
            font-size: 2.75rem;
          }
        }
      }

      .swiper-button-next {
        right: 0;

        @media (min-width: 768px) {
          right: 10px;
        }
      }

      .swiper-button-prev {
        left: 0;

        @media (min-width: 768px) {
          left: 10px;
        }
      }
    }
  }

  section.section-four {
    padding: 4rem 0;
    color: #707070;

    h1.title-bottom {
      font-size: 2.5rem;

      @media (min-width: 375px) {
        font-size: 3rem;
      }

      @media (min-width: 768px) {
        font-size: 5rem;
      }
    }
  }
}

// ======= End Pages Acquisition ======= //

footer {
  font-family: "Poppins", sans-serif !important;
  background: #f8f8f8;
  padding: 6rem 0 4rem;
  color: #5e5e5e;

  @media (max-width: 576px) {
    padding: 4rem 1rem 2.5rem;
  }

  .container {
    .box-logo {
      margin: 0 0 2.5rem;

      @media (max-width: 576px) {
        margin: 0 0 1.5rem;
        display: flex;
        justify-content: center;
      }

      a {
        font-size: 1.15rem;
        color: #03ac0e;
        font-weight: bold;
        line-height: 20px;
        letter-spacing: 0.5px;
        text-decoration: none;
      }
    }
  }

  .box-office {
    display: flex;
    align-items: center;
    margin: 0 0 1.5rem;

    @media (max-width: 576px) {
      display: flex;
      justify-content: start;
      align-items: flex-start;
      flex-direction: column;
      text-align: center;
      margin: 0;
    }

    .icon-footer {
      margin: 0 1rem 0 0;

      @media (max-width: 576px) {
        margin: 0 0 10px;
        text-align: left;
      }
    }

    .text-footer {
      margin: 0;
      font-size: 14px;

      @media (max-width: 576px) {
        text-align: left;
      }

      .head-text {
        margin: 0;
        color: #042306;
        font-weight: bold;
      }

      .address {
        line-height: 24px;
      }
    }
  }

  .box-email {
    display: flex;
    align-items: center;

    @media (max-width: 576px) {
      flex-direction: column;
      text-align: left;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
    }

    .icon-footer {
      margin: 0 1rem 0 0;

      @media (max-width: 576px) {
        margin: 0;
      }
    }

    .text-footer {
      margin: 0;
      font-size: 14px;

      .head-text {
        margin: 0;
        color: #042306;
        font-weight: bold;
      }

      .address {
        line-height: 24px;
      }
    }
  }

  .box-store {
    margin: 0 0 0.5rem;

    @media (max-width: 576px) {
      text-align: center;
      margin: 0 0 2.5rem;
    }

    .text-head {
      margin: 0 0 0.5rem;
      color: #042306;
      font-weight: bold;
    }

    .icon-store {
      a {
        text-decoration: none;

        img.ic-store {
          margin-right: 0.25rem;
        }
      }
    }
  }
}
